.product {
    box-shadow: 0 0 6px $gray-light;
    margin-bottom: 25px;
    padding-top: 0.1px;
    min-height: 92.5%;

    .product-image {
        margin: 10px;
        padding: 70px 30px 45px 30px;
        background-color: $gray-bright;

        img {
            width: 100%;
        }
    }

    .product-bottom {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;

        .product-data {
            .product-desription {
                font-family: $regular;
                font-size: 16px;
                color: $gray-dark;
                margin-bottom: 8px;
            }

            .product-price {
                font-family: $regular;
                font-size: 18px;
                color: $green-light;
            }
        }

        .add-to-cart {
            .add-to-cart-icon {
                @extend %circle;
                font-size: 26px;
                background-color: $green-light;
                color: $white;
                padding: 10px;
                box-shadow: 0 1px 2px rgba(0,0,0,0);
                transition: box-shadow 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 0px 1px rgba(0,0,0,0.3);
                }
            }
        }
    }
}