.sale-product {
    position: relative;

    .old-price {
        text-decoration: line-through;
        color: #000;
        font-size: 14px;
    }
}

.sale-product-ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px; height: 100px;
    text-align: right;

    span {
        font-family: $bold;
        font-size: 14px;
        padding: 5px 0;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        width: 120px;
        display: block;
        background: $green-light;
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 17.5px; left: -27.5px;

        &::before {
            content: "";
            position: absolute; left: 0px; top: 100%;
            z-index: -1;
            border-left: 3px solid #709E1E;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #709E1E;
        }

        &::after {
            content: "";
            position: absolute; right: 0px; top: 100%;
            z-index: -1;
            border-left: 3px solid transparent;
            border-right: 3px solid #709E1E;
            border-bottom: 3px solid transparent;
            border-top: 3px solid #709E1E;
        }
    }
}