$white: #ffffff;
$gray-light: #cdcdcd;
$gray-dark: #656565;
$green-light: #7db122;
$green-dark: #7eb123;

$blue: #9ae2f4;
$blue-bright: #bef2ff;
$blue-light: #4cb1ca;
$blue-middle: #39a0b9;
$blue-dark: #0b4b5a;

$regular: 'Open Sans Regular';
$bold: 'Open Sans Bold';
$light: 'Open Sans Light';

$path-fonts: './../fonts';
$path-images: './../img';
$fa-font-path: './../fonts/FontAwesome';